.site-dashboard,
.archive-page {
	.page-title,
	.page-header {
		margin-top:0;
	}
}

.widget-area--inner {
	background:#fff;
	border:1px solid $border-color;
	border-radius:$border-radius-base;
	padding:$padding;
}

.widget-area--ads {
	margin-top:$padding;
}

.filter-title {
	margin:0 0 $padding--sm;
}

body .facetwp-facet {
	font-size:$font-size-small;
	color:$text-muted;
	margin-bottom:$padding;

	&:last-of-type {
		margin-bottom:0;
	}
}

// Load More Posts
.fo-load-more-posts {
	padding-bottom:$padding;
	border-bottom:1px solid $border-color;
	text-align:center;
	text-transform:uppercase;
	font-size:$font-size-small;

	a {
		color:$text-muted;

		&:focus,
		&:hover {
			text-decoration:none;
			color:$brand-primary;
		}
	}
}

.facetwp-pager {
	font-size:$font-size-small;

	.facetwp-pager-label {
		position:relative;
		top:1px;
	}

	.facetwp-page {
		@extend .btn;
		@extend .btn-default;
		@extend .btn-xs;
	}
}