// Containers
.container-lg {
	width:100%;
	max-width:$container-lg;
}
.container-md {
	width:100%;
	max-width:$container-md;
}
.container-sm {
	width:100%;
	max-width:$container-sm;
}

#content {
	padding-bottom:$padding;
	padding-top:$padding;
	@include clearfix();
}

// main content
#primary {
	@include make-md-column(8);
	padding-left:0;
}

// sidebar
#secondary {
	@include make-md-column(4);
	padding-right:0;

	img {
		@include img-responsive();
	}
}

// Helper Classes
.unstyled {
	@include unstyled();
}

.entry-content {
	img {
		@include img-responsive();
		padding:4px;
		background:white;
		//border:1px solid $border-color;
		border-radius:7px;
		@include box-shadow(1px 1px 1px rgba(0,0,0,0.15));
	}

	a[rel~="attachment"]:hover {
		cursor:zoom-in;
	}
}

#hike-map--directions {
	clear:left;
}

.page-col-8 {
	@include make-md-column(8);
	padding-left:0;
}
.page-col-4 {
	@include make-md-column(4);
	padding-right:0;
}

.fo-pagination {
	.page-numbers {
		@extend .btn;
		@extend .btn-default;
		@extend .btn-xs;
		color:$text-muted;

		&.current {
			@extend .btn.active;
		}
	}
}

// he said she said
.they-said {

	margin-top:$padding;

	.alert {
		@include flexbox;
		@include align-items(center);
		margin-bottom:5px;
	}

	.alert-he-said i{
		color:$brand-primary;
	}

	.alert-she-said i{
		color:$color-pink;
	}

	i {
		margin-left:10px;
		font-size:125%;
	}

	p {
		padding-left:22px;
	}

}

.advads-widget {
	margin-bottom:$padding;
	img {
		margin:0 auto;
	}
}