// Containers
.container-lg {
	width:100%;
	max-width:$container-lg;
}
.container-md {
	width:100%;
	max-width:$container-md;
}
.container-sm {
	width:100%;
	max-width:$container-sm;
}

#content {
	padding-bottom:$padding;
	padding-top:$padding;
	@include clearfix();
}

// main content
#primary {
	@include make-md-column(8);
	padding-left:0;
}

// sidebar
#secondary {
	@include make-md-column(4);
	padding-right:0;
}

// Helper Classes
.unstyled {
	@include unstyled();
}