.object-summary {
	background:#FFF;
	border-top:1px solid $border-color;
	border-bottom:1px solid $border-color;
	padding:$padding--sm 0;
	margin:$padding 0;
	@include clearfix();

	h3 {
		margin:0 auto $padding--sm;
	}

	.object-summary--lt {
		@include make-md-column(4);
		padding-left:0;
	}
	.object-summary--rt {
		@include make-md-column(8);
		padding-right:0;
	}
}