.object-mast--header {
	margin:$padding 0;

	.object-mast--title {
		margin:0;
	}
	.object-mast--location {
		font-size:$font-size-small;
		color:$text-muted;

		&:before {
			content:$fa-var-map-marker;
			font-family:FontAwesome;
			margin-right:5px;
		}
	}
	.entry--meta {
		font-size:$font-size-small;
		color:$text-muted;
	}

	.container {
		@include clearfix();
	}

	.object-mast--lt {
		@include make-md-column(9);
	}
	.object-mast--rt {
		@include make-md-column(3);

		.fo-share--wrap {
			float:right;
			position:relative;
			top:$padding;
		}
	}

}

.object-mast--media {
	position:relative;

	&.no-gallery {
		height:0;
		padding-bottom:35%;
	}

	.object-banner {
		position:absolute;
		left:0;
		top:0;
		width:100%;
		height:100%;
		background-size:cover;
		background-position:center center;
		//background-attachment:fixed;
	}
}

.object-mast--meta {
	background:#FFF;
	border-bottom:1px solid $border-color;
	padding:$padding--sm 0;

	ul {
		@include unstyled();
		@include clearfix();

		li {
			font-size:$font-size-small;

			&:first-child {
				padding-left:0;
			}
			&:last-child {
				padding-right:0;
			}
			span:first-child {
				font-weight:700;
			}
			span:last-child {
				color:$text-muted;
			}
		}
	}
}

.object-mast--meta__hikes {
	li {
		float:left;
		width:20%;
		padding-right: $padding;
	}
}

.object-mast--meta__reviews {

	li {
		@include make-md-column(3);
	}
}

.fo-share--wrap {
	@include unstyled();
	@include clearfix();


	li {
		float:left;
		margin-right:5px;

		a {
			font-size:$font-size-large;
			color:$text-muted;
		}

	}

	.fo-icon-twitter-square {
		color:$color-twitter;
	}
	.fo-icon-facebook-square {
		color:$color-facebook;
	}
	.fo-icon-pinterest {
		color:$color-pinterest;
	}
	.fo-icon-instagram {
		color:$color-instagram;
	}
}

.fo-icon-heart,
.fo-icon-heart-o {
	color:$brand-danger;
}
