.post--archive {
	@include clearfix();
	margin-bottom:$padding;
	padding-bottom:$padding;
	border-bottom:1px solid $border-color;

	.post--archive__image {
		float:left;
		width:150px;
		margin-right:$padding;

	    img {
	    	padding:3px;
			background:white;
			border-radius:7px;
			@include box-shadow(1px 1px 1px rgba(0,0,0,0.15));
	    }
	}

	.post--archive__content {
		float:left;
		@include calc(width, "100% - 170px");

	}

	.post--archive__title {
		margin:0 0 $padding--sm;
		display:inline-block;

		a {
			color:$text-color;
		}

		.label {
			font-size:13px;
			vertical-align:top;
			position:relative;
			top:6px;
			left:6px;
		}
	}

	.entry--meta {
		margin-bottom:0;
		font-size:$font-size-small;
		color:$text-muted;
	}
}