.fo-submission-section {
	padding:$padding;
	margin-bottom:$padding;
	background:darken($body-bg,3);
	border:1px solid $border-color;
	position:relative;
	@include transition(padding-top .2s ease);

	&.submitting {
		padding-top:25px;
	}
}

.form-control {
	&.error {
		border:1px solid $brand-danger;
	}
}

label.error {
	@extend .label;
	@extend .label-danger;
}

#imagePreview {
	@include clearfix;
	img {
		max-width:50px;
		height:auto;
		float:left;
		margin-right:3px;
	}
}

.submission-help-widget{

	h4 {
		margin-top:0;
	}
	ol {
		padding-left:$padding;
		margin:0;
		font-size:$font-size-small;

		li {
			margin-bottom:$padding--sm;
		}
	}
}